@tailwind base;
@tailwind components;
@tailwind utilities;


.dot {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}


.sun {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: orange;
  box-shadow: 0 0 5px orange, 0 0 10px orange;
  animation: spin 4s linear infinite;
}


.moon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #f5f5f5;
  position: relative;
}

.moon::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 10px;
  height: 10px;
  background: #4b5563;
  border-radius: 50%;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toggle-btn {
  transition: background-color 0.3s ease-in-out;
}
